 <!DOCTYPE html>
 <html lang="en">

 {% extends "base.html" %}

 {% block content %}

 <br><br>

 <body>

    <div class="container align-items-center" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card" style="border-radius: 25px;background-color: #f0f0f0;">
              <div class="card-body p-md-5" style="text-align: justify;">
                <h1>Our Company</h1>
                <br>
                <div class="float-end" style="margin: 12px;">
                  <img src="{{ url_for('static',filename='images/redbrick_stock.png') }}" class="img-fluid" style="width: 300px;" alt="Not a Picture of Our Offices">
              </div>
              <p>Nostre compania et un historia con datum un seculo e cinque annum. Forma de le parve officio
                  in Copenhavn, nostre affundar desier nuevo athletico pro bono sinc quartre mortum det Olympica se
                  que intermittent, por fa sinc sum datum argumenti approbar loation omnia terra de humane un location
              succedar con lamine futuro benevueno, a colonisia de Luna, Mars, Jupiter e beyondo.</p>
              <p>Praesent rutrum mollis dolor et fermentum. Nulla facilisi. Mauris quis ipsum id ex bibendum lobortis quis et purus. Suspendisse potenti. Cras eu posuere erat. In vel risus eget sapien viverra mollis. Ut tempor nulla in sem vestibulum laoreet. Curabitur sed ullamcorper eros. Integer id molestie augue. Etiam ullamcorper felis non posuere faucibus. Phasellus vitae purus nulla. Maecenas egestas, turpis ac facilisis cursus, ante nisl blandit sem, eget fringilla lacus nulla in quam.</p>
              <p>Morbi euismod sagittis dui, quis luctus risus malesuada non. Morbi scelerisque ac sem sit amet dapibus. Proin venenatis, nulla pellentesque tristique malesuada, diam justo feugiat magna, eu vulputate lorem magna vel enim. Morbi vel sagittis turpis. Aliquam et nisl et metus congue vehicula sed in erat. Curabitur suscipit non nisl id semper. Nunc eu augue vitae odio efficitur luctus nec id lectus. Sed pulvinar ipsum maximus, viverra elit vitae, commodo metus.</p>
              <p>Duis tincidunt congue augue, pharetra dignissim nulla fringilla a. Sed fringilla porta luctus. Cras pharetra tellus lorem, a pulvinar quam varius in. Mauris non ligula sit amet nulla varius facilisis eget et tortor. Cras tempor, massa vitae finibus iaculis, ipsum odio ornare metus, varius vulputate tellus augue ut felis. Aenean risus arcu, dictum ut accumsan in, euismod vel dolor. Praesent vel justo justo. Cras et convallis mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis et magna non purus lacinia ullamcorper. Suspendisse congue sit amet orci non vestibulum. Cras in risus quis erat blandit fermentum id at nisi. Mauris eleifend tincidunt est ut aliquam.</p>
              <p>Pellentesque aliquet nisi lobortis, ultrices metus at, sollicitudin nulla. Fusce dictum laoreet lacus vel venenatis. Fusce id leo id enim imperdiet semper id vel sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce feugiat ut est faucibus porta. Mauris vehicula nunc sit amet neque euismod, et faucibus sem luctus. Quisque in elementum mi, id scelerisque urna. Mauris congue interdum tellus vitae pretium. Mauris massa ante, sollicitudin eu suscipit ut, finibus vitae ante. Nulla et auctor urna.</p>
            </div>
          </div>
        </div>
    </div>

</body>

{% endblock %}

</html>



